@import model.PaginaStaticaForm
@(content:Option[PaginaStaticaForm])

@layout.base{
    <div class="text-box">
        <h1>Chi siamo</h1>
        @content.flatMap(_.testo).map{t => @Html(t)}
        <br><br><br>
        <h2>Associazione</h2>
        <>
        <a href="https://s3.eu-central-1.amazonaws.com/ellelocarno.ch/StatutoELLE.pdf" target="_blank" title="Statuto" >Statuto</a><br>
        <a href="https://s3.eu-central-1.amazonaws.com/ellelocarno.ch/RegolamentoELLE.pdf" target="_blank" title="Regolamento">Regolamento</a>
        <br><br><br>
        <h2>Verbali assemblee</h2>
        <a href="https://s3.eu-central-1.amazonaws.com/ellelocarno.ch/Verbale+assemblea+Forum+29.1.2017.pdf" target="_blank" title="Assemblea 29.1.2017" >Assemblea 29.1.2017</a><br>
        <a href="https://s3.eu-central-1.amazonaws.com/ellelocarno.ch/Verbale_assemblea_straordinaria_27.4.17.pdf" target="_blank" title="Assemblea straordinaria 27.4.2017">Assemblea straordinaria 27.4.2017</a>
    </div>
}