@import model.PaginaStaticaForm
@(content:Option[PaginaStaticaForm])

@layout.base{

    <div style="display: block; width: 80%">

        <div class="text-box">
    <div id="mc_embed_signup">
        <form action="https://ellelocarno.us16.list-manage.com/subscribe/post?u=985f13037f5bcbd25e58f3ce1&amp;id=bbce687272" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <h2>Abbonati alla newsletter</h2>
                    <input style="line-height: 26px" placeholder="Indirizzo Email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    <a href="#" class="main-button" onclick="$('#mc-embedded-subscribe-form').submit()" name="subscribe" id="mc-embedded-subscribe" class="button">Iscriviti</a>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_985f13037f5bcbd25e58f3ce1_bbce687272" tabindex="-1" value=""></div>
            </div>
        </form>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd1q7pmvd-IsUi7twO6900KQSQ60ucCChuWyN56VMJ_qBtl0A/viewform?usp=sf_link" target="_blank" class="main-button">Iscriviti al forum</a>
        <a href="https://s3.eu-central-1.amazonaws.com/ellelocarno.ch/formulario_elle_campi.2.pdf" target="_blank" class="main-button">Proponi un attività</a>
    </div>
        </div>


    <div class="text-box" style="margin-top: 10px">
            @content.flatMap(_.testo).map{ testo => @Html(testo) }
        </div>
    </div>

        <div id="immagine_sfondo_home"> </div>





}